.home {
    display: flex;
    align-items: start;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    max-width: 300px;
    flex: 1;
    min-height: 100vh;
    border-right: 0.5px solid rgb(230, 227, 227);
    background-color: white;
    z-index: 99999;
    max-height: 100vh;
    overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
    width: 4px;
}
.sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.container {
    flex: 6;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        position: sticky;
        top: 0;
        left: 0;
        max-width: 50px;
        flex: 1;
        min-height: 100vh;
        border-right: 0.5px solid rgb(230, 227, 227);
        background-color: white;
    }
}