.home {
    display: flex;
    align-items: start;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    max-width: 300px;
    flex: 1;
    min-height: 100vh;
    border-right: 0.5px solid rgb(230, 227, 227);
    background-color: white;
    z-index: 99999;
    /* max-height: 100vh; */
    overflow: scroll;
}

.sidebar::-webkit-scrollbar {
    width: 4px;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.container {
    flex: 6;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        position: sticky;
        top: 0;
        left: 0;
        max-width: 50px;
        flex: 1;
        min-height: 100vh;
        border-right: 0.5px solid rgb(230, 227, 227);
        background-color: white;
    }

    .home {
        display: flex;
        min-height: 100vh;
        /* Ensure full viewport height */
        overflow: hidden;
        background-color: #fff;
        /* Prevent overall page scroll */
    }

    /* .sidebar {
    height: 100vh; 
    overflow-y: auto; 
    position: sticky;
    top: 0;
    width: 250px;
    flex-shrink: 0;
}

.container {
    flex-grow: 1;
    overflow-y: auto; 
    height: 100vh; 
    padding: 20px; 
} */
}