
#sidebar::-webkit-scrollbar {
    width: 4px;
}
#sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

.top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top .logo {
    font-size: 20px;
    font-weight: bold;
    color: #0f88ef;
}

.top .logo span {
    font-size: 16px !important;
    color: black;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

hr {
    height: 0;
    border: 0.5px solid #e6e3e3;
}

.center {
    padding-left: 10px;
}

.center ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.center ul .title {
    font-size: 10px;
    font-weight: bold;
    color: #999;
    margin-top: 15px;
    margin-bottom: 5px;
}

.center ul li {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
    background: transparent;
}

.center ul li:hover {
    background-color: rgba(15, 136, 239, 0.2);
    
}
.center ul .active li {
    background-color: rgba(15, 136, 239, 0.2);
}

.center ul li .icon {
    font-size: 20px;
    color: #007bff;
}

.center ul li span {
    font-weight: 600;
    margin-left: 10px;
    font-size: 16px;
    color: black;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.bottom {
    display: flex;
    align-items: center;
    margin: 10px;
}

.bottom .colorOption {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #7451f8;
    cursor: pointer;
    margin: 5px;
}

.bottom .colorOption:nth-child(1) {
    background-color: whitesmoke;
}

.bottom .colorOption:nth-child(2) {
    background-color: #333;
}

.bottom .colorOption:nth-child(3) {
    background-color: darkblue;
}

@media only screen and (max-width: 600px) {
    #sidebar {
        max-width: 100dvh;
        overflow: scroll;
    }
}